<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<!-- config.xml khởi tạo giá trị mặc định -->
	<!-- các thẻ là các id vd:trong etc/adminhtml/system.xml-->
    <default>
        <Post> 
            <general>
                <enabled>1</enabled>
                <display_text>AHT Post Module Text</display_text>
            </general>
        </Post>
    </default>

</config>